/*Reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Varibales */
:root {
    --primary-color: #08c0dd;
    --secondary-color: #262431;
    --testiary-color: #2f2c3d;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--secondary-color);
    color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navbar */
.navbar {
    padding: 1rem 2rem;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}
.navbar__container{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo img{
    width: 112px;
    height: 36px;
}
.navbar__menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}
.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
    color: var(--primary-color);
}
.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary{
    color: var(--primary-color);
}
.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
    color: #fff;
}

/* Mobile menu items */
ã€‚navbar__mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--secondary-color);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* mobile menu items list */
.navbar__mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}